html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

h1 {
    text-align: center;
}

.col-xs-3 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.col-xs-3:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.col-xs-3:active {
    background-color: blue;
}

.col-xs-6 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.col-xs-6:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.col-xs-6:active {
    background-color: blue;
}

.col-xs-12 {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
}

.top {
    border-top: 2px solid black;
}

.bottom {
    border-bottom: 2px solid black;
}

@media (max-width: 450px) {
    .col-xs-3 {
        height: 100px;
    }
    .col-xs-6 {
        height: 100px;
    }
    .col-xs-12 {
        height: 100px;
    }
}